<%- include('../partials/header') %>

<h2>Edit a Existing Block</h2>
<form action="/blocks/<%= block._id %>?_method=PUT" method="POST" autocomplete="off">
  <label>Color - Red (0-255):
    <input type="number" name="colorRed">
  </label><br>
  <label>Color - Green (0-255):
    <input type="number" name="colorGreen">
  </label><br>
  <label>Color - Blue (0-255):
    <input type="number" name="colorBlue">
  </label><br>
  <button type="submit">Update Block</button>
</form>

<%- include('../partials/footer') %>
