<%- include('../partials/header') %>
<section class="other-page">
<h1><%= title %></h1>
<p> For all colors, please enter a number between 0 and 255.</p>
<form action="/blocks" method="POST">
  <label>Color - Red:
    <input type="number" min="0" step="1" max="255" name="colorRed">
  </label><br>
  <label>Color - Green:
    <input type="number" min="0" step="1" max="255" name="colorGreen">
  </label><br>
  <label>Color - Blue:
    <input type="number" min="0" step="1" max="255" name="colorBlue">
  </label><br>
  <label>Text Color: 
    <select name="colorText">
      <option value="white">White</option>
      <option value="black">Black</option>
    </select>
  </label><br>
  <button type="submit">Add Block</button>
</form>


<%- include('../partials/footer') %>
